<div class="leftmenu">
  <div class="mySlides slider"  id="slide1"></div>
  <div class="mySlides slider" id="slide2"></div>
   <div class="mySlides slider" id="slide3"></div>
</div>
<div class="cleaner h20"></div>
<!-- <div class="leftmenu">
<h2>Latest News</h2>
	<ul class="sidebar_list">
		<li><a href="#">Daily Lunch</a></li>
		<li><a href="#">Own Ashramam with Good Features</a></li>
		<li><a href="#">Regular Health Checkups</a></li>
		<li><a href="#">Healthy Atmosphere</a></li>
	</ul>
</div> -->

<div class="center">
	<div class="img_border img_fr">
		<img src="images/logo.png" alt="alt name" width="200">
	</div>
	<h2>Welcome to Telangana Technical students welfare association</h2>
	<div>	
	<ul>
		<li>We Guide all technical students of the Institute, to
			optimally utilize the benefits of the schemes offered by the State
			Governments, Government of India (GOI) and UGC.</li>

		<li>We Assist the Standing Committee in carrying out their
			functions.</li>
	</ul>
	</div>

</div>
  <div class="leftmenu">
     <h3>Our Gallery</h3>
    <marquee direction="left"  onmouseover="this.setAttribute('scrollamount', 0, 0);" onmouseout="this.setAttribute('scrollamount', 2, 0);">
<img src="images/DSC_0140.JPG" class="img_border" width="200">
<img src="images/DSC_0144.JPG" class="img_border" width="200">
<img src="images/DSC_0172.JPG" class="img_border" width="200">
<img src="images/DSC_0173.JPG" class="img_border" width="200">
<img src="images/DSC_0174.JPG" class="img_border" width="200">
<img src="images/DSC_0176.JPG" class="img_border" width="200">
<img src="images/DSC_0179.JPG" class="img_border" width="200">
<img src="images/DSC_0181.JPG" class="img_border" width="200">
<img src="images/DSC_0512.JPG" class="img_border" width="200">
       </marquee>
    
  
		<img src="images/logo.png" alt="alt name" width="200">

	</div>
   
      <div class="cleaner h40"></div>
 <!-- END of main -->
