<div class="container">
             <div class="content-box">
            <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
                <!-- <h1><strong>Home</strong></h1> -->
                <div class="content-title-underline"></div>
            </div>

                <div class="row wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
			
<div class="col-sm-8 leftmenu">
  <div class="mySlides slider"  id="slide1"></div>
  <div class="mySlides slider" id="slide2"></div>
   <div class="mySlides slider" id="slide3"></div>
</div>
<div class="cleaner h20"></div>

<div>
	<h3>Welcome	to Telangana Technical students welfare association</h3>
	<div>	
	<ul>
		<li>We Guide all technical students of the Institute, to
			optimally utilize the benefits of the schemes offered by the State
			Governments, Government of India (GOI) and UGC.</li>

		<li>We Assist the Standing Committee in carrying out their
			functions.</li>
	</ul>
	</div>

</div>
<div class="col-sm-8" >

	<h3> <table border="1"><tr><td class="col-sm-3"><span>
	<a href="http://jntuhcej.ac.in/" target="_blank"><img src="http://jntuh.ac.in/images/ceh1.jpg" alt="JNTUH CEJ"></a>
		<a href="http://jntuhcej.ac.in/" target="_blank">JNTUH College of Engg, Hyderabad</a>
	</span></td><td class="col-sm-3">
	<span>
		<a href="http://jntuhcej.ac.in/" target="_blank"><img src="http://jntuh.ac.in/images/cej1.jpg" alt="JNTUH CEJ" title="JNTUH CEJ" data-at2x="http://jntuh.ac.in/images/cej1.jpg"></a>
		<h3><a href="http://jntuhcej.ac.in/" target="_blank">JNTUH College of Engg, Jagtial</a>
	</span></td><td class="col-sm-3">
	<span>
		<a href="http://jntuhcem.ac.in/" target="_blank"><img src="http://jntuh.ac.in/images/cem1.jpg" alt="JNTUH CEJ" title="JNTUH CEJ" data-at2x="http://jntuh.ac.in/images/cej1.jpg"></a>
		<h3><a href="http://jntuhcem.ac.in/" target="_blank">JNTUH College of Engg, Jagtial</a>
	</span></td></tr></table>

</div>
<div class="col-sm-8" >

	<h3> <table border="1"><tr><td class="col-sm-3"><span>
	<a href="http://jntuhcej.ac.in/" target="_blank"><img src="http://jntuh.ac.in/images/ceh1.jpg" alt="JNTUH CEJ"></a>
		<a href="http://jntuhcej.ac.in/" target="_blank">JNTUH College of Engg, Hyderabad</a>
	</span></td><td class="col-sm-3">
	<span>
		<a href="http://jntuhcej.ac.in/" target="_blank"><img src="http://jntuh.ac.in/images/cej1.jpg" alt="JNTUH CEJ" title="JNTUH CEJ" data-at2x="http://jntuh.ac.in/images/cej1.jpg"></a>
		<h3><a href="http://jntuhcej.ac.in/" target="_blank">JNTUH College of Engg, Jagtial</a>
	</span></td><td class="col-sm-3">
	<span>
		<a href="http://jntuhcem.ac.in/" target="_blank"><img src="http://jntuh.ac.in/images/cem1.jpg" alt="JNTUH CEJ" title="JNTUH CEJ" data-at2x="http://jntuh.ac.in/images/cej1.jpg"></a>
		<h3><a href="http://jntuhcem.ac.in/" target="_blank">JNTUH College of Engg, Jagtial</a>
	</span></td></tr></table>

</div>
</div>
</div>
</div>