<div class="center">
	<h1>Student Corner</h1>
	
	<h1>Anti Ragging</h1>
	<p>Ragging  in any form inside or outside the college is banned and in order to have the  peaceful atmosphere in and around the College, Canteen, Library and Hostels, an  Anti-Ragging Committee with the faculty and staff members are constituted.</p>
          <ul class="lists">
            <li><a href="http://jntuh.ac.in/webdownloads/AICTE_Antiragging_2009.pdf" title="AICTE Anti-Ragging Notification" target="_blank">AICTE Anti-Ragging Notification</a></li>
            <li><a href="http://jntuh.ac.in/webdownloads/2_ugc_Anti_Ragging_2009.pdf" title="UGC Regulations on Curbing the Menace  of Ragging in Higher Educations" target="_blank">UGC Regulations on Curbing the Menace  of Ragging in Higher Educations</a></li>
            <li><a href="http://jntuh.ac.in/webdownloads/Anti_Ragging_Affidavitproforma.pdf" title="Anti-Ragging Affidavit (Proforma)" target="_blank">Anti-Ragging Affidavit (Proforma)</a></li>
            <li><a href="http://jntuh.ac.in/webdownloads/JNTUHCEH_AntiRaggingCommittee_2016_17.pdf" title="College Anti Ragging Committee" target="_blank">College Anti Ragging Committee</a></li>
          </ul>
          <p>&nbsp;</p>
           <p><strong>&nbsp;</strong></p>
          <p><font color="#FF0000"><strong>PROHIBITION  OF RAGGING</strong></font></p>
          <ul>
            <ul class="lists">
              <li>Ragging  is prohibited as per Act 26 of A.P. Legislative Assembly, 1997</li>
              <li>Ragging  entails heavy fines and / or imprisonment.</li>
              <li>Ragging  invokes suspension and dismissal from the College.</li>
              <li>Outsiders  are prohibited from entering the hostels without permission.</li>
              <li>Girl  students must be in their hostel rooms by 9.00pm.</li>
              <li>All  the students must carry their Identity Cards and show them when demanded.</li>
              <li>The  Principal and the Wardens will visit the hostels and inspect the rooms any  time.</li>
              <li>Suspended  students are debarred from entering the Campus except when required to attend  enquiry and to submit an explanation.</li>
            </ul>
          </ul>

<h1>NSS</h1>
<p>National Service Scheme, under the Ministry of Youth Affairs & Sports
		Govt. of India, popularly known as NSS was launched in Gandhiji's
		Birth Centenary Year 1969, in 37 Universities involving 40,000
		students with primary focus on the development of personality of
		students through community service. Today, NSS has more than 3.2
		million student volunteers on its roll spread over 298 Universities
		and 42 (+2) Senior Secondary Councils and Directorate of Vocational
		Education all over the country. From its inception, more than 3.75
		crores students from Universities, Colleges and Institutions of higher
		learning have benefited from the NSS activities, as student
		volunteers.</p>




</div>

